{% extends "base.html" %}

{% block title %}{{ season_label }} Season{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-title">{{ season_label|upper }}</div>

        <div class="section-title">Season Stats</div>
        <div class="section-subtitle helper-text">
            {% if last_ingestion %}
                Last updated on {{ last_ingestion.created_at }}
            {% else %}
                Not updated yet
            {% endif %}
        </div>

        {% include "stats/_season_leaderboard.html" %}
    </div>
{% endblock %}
